<%- layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h1>Edit your Listing</h1>
    <form
      action="/listings/<%= single._id%>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= single.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
<%= single.description %></textarea
        >
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <div class="mb-3">
        Original Listing Image <br />
        <img src="<%= originalImageUrl %>" alt="" height="200" width="300" />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>
      <div class="mb-3">
        <select
          class="form-select"
          aria-label="Default select example"
          name="listing[category]"
        >
          <option selected>Open this select menu</option>
          <option value="Iconic Cities">Iconic Cities</option>
          <option value="Mountains">Mountains</option>
          <option value="Castles">Castles</option>
          <option value="Amazing Pools">Amazing Pools</option>
          <option value="Camping">Camping</option>
          <option value="Farms">Farms</option>
          <option value="Arctic">Arctic</option>
          <option value="Domes">Domes</option>
          <option value="Boats">Boats</option>
          <option value="Others">Others</option>
        </select>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%= single.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= single.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%= single.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>
      <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
  </div>
</div>
